{% extends "layout.html" %}


{% block content %}

<div class="container-fluid">
  <div class="map" id="map-canvas">

  </div>

  <div class="bottom-info">
    <div class="row">
      <div class="bottom-col">
        <h1>HOTELS</h1>
        <div class="dropup">
           <button class="btn btn-lg dropdown-toggle" type="button" id="hotels-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Hotels
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" aria-labelledby="hotels-drop">
             <li class="dropdown-header">HOTELS</li>
              {% for hotel in hotels %}
              <li><a href="#">{{hotel.name}}</a></li>
              {% endfor %}
           </ul>
        </div>
      </div>

      <div class="bottom-col">
        <h1>RESTAURANTS</h1>
        <div class="dropup">
           <button class="btn btn-lg dropdown-toggle" type="button" id="restaurant-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Restaurant
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" aria-labelledby="restaurant-drop">
             <li class="dropdown-header">RESTAURANTS</li>
              {% for restaurant in restaurants %}
              <li><a href="#">{{restaurant.name}}</a></li>
              {% endfor %}
           </ul>
        </div>
      </div>

      <div class="bottom-col">
        <h1>ACTIVITIES</h1>
        <div class="dropup">
           <button class="btn btn-lg dropdown-toggle" type="button" id="activity-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Activities
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" aria-labelledby="restaurant-drop">
             <li class="dropdown-header">ACTIVITIES</li>
              {% for activity in activities %}
              <li><a href="#">{{activity.name}}</a></li>
              {% endfor %}
           </ul>
        </div>
      </div>
      <div class="bottom-col separator"></div>
      <div class="bottom-col">
        <h1>DAY</h1>
        <div class="day-button btn btn-default" id="day1">1</div>
        <div class="day-button btn btn-default" id="day2">2</div>
        <div class="day-button btn btn-default" id="day3">3</div>
        <div class="day-button btn btn-default" id="day-extra">+</div>
      </div>
      <div class="bottom-col">
        <ol>
          <li class="days"><button class="btn-lg btn-default"><a href="#">My Hotel</a></button></li>
          <li class="days"><button class="btn-lg btn-default"><a href="#">My Restaurants</a></button></li>
          <li class="days"><button class="btn-lg btn-default"><a href="#">Things to do</a></button></li>
        </ol>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
