<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content= "width=device-width, initial-scale=1.0"charset="UTF-8">
  <title>Trip Planner</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm81AQWFOFAT9HrPrJFFI6C6MzCZG0mZ8&sensor=true"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top left-nav">
    <ul>
      <li>
        
        <a href="#"><span class="glyphicon glyphicon-send"> </span> JERKNEE</a>
      </li>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav>

  {% block content %}{% endblock %}



  <script src="/jquery/dist/jquery.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/javascripts/gmaps.js"></script>

</body>
</html>
