<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content= "width=device-width, initial-scale=1.0"charset="UTF-8">
  <title>Trip Planner</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm81AQWFOFAT9HrPrJFFI6C6MzCZG0mZ8&sensor=true"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top left-nav">
    <ul>
      <li><a href="#">Trip Planner</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  {% block content %}{% endblock %}



  <script src="/jquery/dist/jquery.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/javascripts/gmaps.js"></script>

</body>
</html>
