* {
  box-sizing: border-box; }

body {
  /*padding: 50px;*/
  font: 14px "Oswald", "Lucida Grande", Helvetica, Arial, sans-serif; }

a, span {
  color: #ddd; }
  a:hover, span:hover {
    color: #aaa;
    text-decoration: none; }

button span {
  color: #333; }

.container-fluid {
  width: 100vw;
  padding: 0; }

.bottom-col {
  float: left;
  padding: 30px; }

.separator {
  height: 250px;
  width: 4px;
  padding: 5px;
  background-color: #333; }

.map {
  height: 100vh;
  /*  right: -$nav-width;
  left: $nav-width;*/
  width: 100vw; }

.left-nav {
  width: 80px;
  left: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 0; }
  .left-nav li {
    display: inline-block;
    font-size: 20pt;
    margin-right: 15px; }
  .left-nav ul {
    position: fixed;
    left: 40px;
    top: 500px;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: center left;
    /* IE 9 */
    -webkit-transform-origin: center left;
    /* Chrome, Safari, Opera */
    transform-origin: center left; }

.bottom-info {
  padding-left: 10px;
  background-color: #aaa;
  height: 250px;
  bottom: 0;
  position: fixed;
  right: -80px;
  left: 80px;
  z-index: 1000;
  opacity: 0.2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .bottom-info:hover {
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.dropup {
  margin: 0 auto; }

.day-button {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding: 3px;
  border: 2px solid #333;
  background-color: #aaa; }
