@media (min-width: 0px) and (max-width: 767px) {
  .row {
    margin: 0; }
  .left-nav {
    top: 0; }
    .left-nav li {
      display: inline-block;
      font-size: 20pt;
      margin-right: 15px; }
  /*
  .container-fluid {
  	width: 100%;
  }*/
  .map {
    height: 350px; }
  .bottom-info {
    background-color: #aaa;
    position: relative;
    z-index: 1000; }
  h1 {
    font-size: 20pt; }
  .bottom-col {
    width: 100vw;
    z-index: 1000;
    text-align: center;
    margin: 0; }
  .separator {
    display: none; }
  ol {
    padding-left: 0;
    margin-top: 15px; } }

@media (min-width: 768px) {
  nav ul {
    position: fixed;
    left: 40px;
    top: 500px;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: center left;
    /* IE 9 */
    -webkit-transform-origin: center left;
    /* Chrome, Safari, Opera */
    transform-origin: center left; }
  .left-nav {
    width: 80px;
    left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 0; }
    .left-nav li {
      display: inline-block;
      font-size: 20pt;
      margin-right: 15px; }
  .bottom-info {
    padding-left: 10px;
    height: 250px;
    bottom: 0;
    position: fixed;
    right: -80px;
    left: 80px;
    z-index: 1000;
    opacity: 0.2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .bottom-info:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .bottom-col {
    float: left;
    text-align: center;
    margin: 30px; }
  .map {
    height: 100vh;
    /*  right: -$nav-width;
	  left: $nav-width;*/
    width: 100vw; } }

* {
  box-sizing: border-box; }

body {
  /*padding: 50px;*/
  font: 14px "Oswald", "Lucida Grande", Helvetica, Arial, sans-serif; }

a, span {
  color: #ddd; }
  a:hover, span:hover {
    color: #aaa;
    text-decoration: none; }

.btn-lg a {
  color: #333; }

.btn-lg {
  background-color: silver;
  border: none;
  margin: 4px; }

.dropup .btn:hover {
  background-color: #ddd; }

button span {
  color: #333; }

.container-fluid {
  width: 100vw;
  padding: 0; }

.separator {
  height: 250px;
  width: 4px;
  padding: 5px;
  background-color: #333;
  margin: 0; }

.bottom-info {
  background-color: #aaa; }

.dropup {
  text-align: center; }

.day-button {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding: 5px 3px;
  border: 2px solid #333;
  background-color: #aaa; }

/*ul {
  list-style-type: none;
}*/
.days {
  font-color: #333; }

ol {
  list-style-type: none; }
