$nav-width: 80px;

@media (min-width: 0px) and (max-width: 767px) {

	.left-nav {
    top: 0;
    li {
      display: inline-block;
      font-size: 20pt;
      margin-right: 15px;
    }
  }

  .bottom-col {
  	width: 100vh;
  	z-index: 1000;
  }
}

@media (min-width: 768px) {
	ul {
    position: fixed;
    left: $nav-width / 2;
    top: 500px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);

    -ms-transform-origin: center left; /* IE 9 */
    -webkit-transform-origin: center left; /* Chrome, Safari, Opera */
    transform-origin: center left;
  }

  .left-nav {
    width: $nav-width;
    left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      font-size: 20pt;
      margin-right: 15px;
    }
  }

  .bottom-info {
	  padding-left:10px;
	  height: 250px;
	  bottom: 0;
	  position: fixed;
	  right: -$nav-width;
	  left: $nav-width;
	  z-index: 1000;
	  opacity: 0.2;
	  -webkit-transition: all 0.5s ease-in-out;
	  -moz-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
	  transition: all 0.5s ease-in-out;

	  &:hover {
	    opacity: 1;
	    -webkit-transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	  }
	}

}

