@import "media-queries";


* {
  box-sizing: border-box;

}

body {
  /*padding: 50px;*/
  font: 14px "Oswald", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, span {
  color: #ddd;
  &:hover {
    color: #aaa;
    text-decoration: none;
  }
}

button span {
  color: #333;
}

$nav-width: 80px;

.container-fluid {
  width: 100vw;
  padding: 0;
}

.separator {
  height: 250px;
  width: 4px;
  padding: 5px;
  background-color: #333;
}

.map {
  height: 100vh;
/*  right: -$nav-width;
  left: $nav-width;*/
  width: 100vw;
}



.bottom-col {
  float: left;
  text-align: center;
  padding: 30px;
}

.bottom-info {

  background-color: #aaa;
  height: 250px;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.dropup {
  text-align: center;
}

.day-button {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding: 5px 3px;
  border: 2px solid #333;
  background-color: #aaa;
}

/*ul {
  list-style-type: none;
}*/
.days {
  font-color: #333;
}
ol {
  list-style-type: none;
}







