* {
  box-sizing: border-box;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

$nav-width: 80px;

.container-fluid {
  width: 100vw;
  padding: 0;
}

.map {
  height: 100vh;
/*  right: -$nav-width;
  left: $nav-width;*/
  width: 100vw;
}

.left-nav {
  width: $nav-width;
  left: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  li {
    display: inline-block;
    font-size: 20pt;
    margin-right: 15px;
  }
  ul {
    position: fixed;
    left: -220px;
    bottom: 220px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
  }
}

.bottom-info {
  background-color: lighten(red, 30%);
  height: 250px;
  bottom: 0;
  position: fixed;
  right: -$nav-width;
  left: $nav-width;
  z-index: 1000;
  opacity: 0.2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

